#editor-pane.overlay
	a.closebtn(href='javascript:void(0)', onclick='stopEditor()') ×
	.overlay-content
		.overlay-header
		.btn-group
			button.btn.btn-default.btn-big-icon(type='button')
				i.fa.fa-font(aria-hidden='true')
				| Font Style
			button.btn.btn-default.btn-big-icon(type='button')
				i.fa.fa-text-height(aria-hidden='true')
				| Font Size
			button.btn.btn-default.btn-big-icon(type='button')
				i.fa.fa-align-justify(aria-hidden='true')
				| Line Height
			button.btn.btn-default.btn-big-icon(type='button')
				i.fa.fa-tint(aria-hidden='true')
				| Colors
		.btn-group
			button.btn.btn-default.btn-big-icon(type='button')
				i.fa.fa-link(aria-hidden='true')
				| Copy Link
			button.btn.btn-default.btn-big-icon(type='button')
				i.fa.fa-download(aria-hidden='true')
				| Download Text
			button.btn.btn-default.btn-big-icon(type='button')
				i.fa.fa-paper-plane(aria-hidden='true')
				| Email Text
			button.btn.btn-default.btn-big-icon(type='button')
				i.fa.fa-twitter(aria-hidden='true')
				| Tweet Link
				