doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Aloft Editor: #{event.title}
		link(rel='stylesheet', href='/node/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/fonts.css')
		link(rel='stylesheet', href='/themes/yummy/css/styles.css')
		link(rel='stylesheet', href='/css/general.css')
		link(rel='stylesheet', href='/css/editor.css')
	body
		.textedit
			ul.list-unstyled
				li
					.btn-group.btn-group(role='group', aria-label='Large button group')
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							| Font Family
							span.caret
						ul.dropdown-menu
							li
								a(href='#') Action
							li
								a(href='#') Another action
							li
								a(href='#') Something else here
							li.divider(role='separator')
							li
								a(href='#') Separated link
						button.btn.btn-default(type='button', onclick='jumpToBottom()') Jump to Bottom
		textarea#pad(autofocus='', spellcheck='false', rows='10')
		//- jQuery
		script(src='/node/jquery/dist/jquery.min.js')
		//- Angular
		script(src='/node/angular/angular.min.js')
		//- Angular User Settings
		script(src='/node/angular-user-settings/dist/angular-user-settings.min.js')
		script(type='text/javascript', src='/themes/yummy/js/vendors/jquery/jquery-ui.min.js')
		//- Bootstrap scripts
		script(src='/node/bootstrap/dist/js/bootstrap.min.js')
		//- jQuery UI Touch
		script(src='/js/jquery-ui-touch.js')
		//- General scripts
		script(src='/js/general.js')
		//- ShareDB
		script(src='/sharedb/textarea.js' defer)
		//- Moment.js
		script(src='/js/moment.js')
		script.
			var user = !{JSON.stringify(user)};
			var event = !{JSON.stringify(event.url)};
			var created = !{JSON.stringify(event.created)};
			var crea = moment(created).format('MMMM Do YYYY, HH:MM');

			console.log(crea)