doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Log in to Aloft
		link(rel='stylesheet', href='/node/bootstrap/dist/css/bootstrap.min.css')
		link(href='/themes/yummy/css/overlay-effects/overlay-effects.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/dripicons.min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/animate/animate.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/hover/hover-min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/minicolors/jquery.minicolors.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/stepper/jquery.stepper.min.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/themes/yummy/css/styles.css')
		link(rel='stylesheet', href='/css/annotator.min.css')
		link(rel='stylesheet', href='/css/fonts.css')
		link(rel='stylesheet', href='/css/sidebar.css')
	body
		.col-md-12
			form#token-form.signup(action='/invite-member', method='post')
				.form-group.row
					label.col-sm-2.col-form-label(for='newmemberemail') Email
					.col-sm-10
						input#inputEmail3.form-control(type='email', name='newmemberemail', placeholder='Email', required='', data-parsley-required='', data-parsley-type='email')
					//- .col-sm-6
					label.col-sm-2.col-form-label(for='') Role
					.col-sm-6
						.radio-styled
							input#member(name='role', value='member', type='radio')
							label(for='member') Member
						.radio-styled
							input#admin(name='role', value='admin', type='radio')
							label(for='admin') Administrator
						.radio-styled
							input#trial(name='role', value='trial', type='radio')
							label(for='trial') Trial
						.input-group
							input.form-control(type='text', name='trialPeriod', placeholder="Trial Duration", data-parsley-type='number', data-parsley-range='[1, 30]')
							span.help-block Trial Duration in Days
				.form-group.row
					.offset-sm-2.col-sm-10
						button.btn.btn-primary(type='submit') Send Invite!
		//- jQuery
		script(src='/node/jquery/dist/jquery.min.js')
		//- Angular
		script(src='/node/angular/angular.min.js')
		//- Angular User Settings
		script(src='/node/angular-user-settings/dist/angular-user-settings.min.js')
		script(type='text/javascript', src='/themes/yummy/js/vendors/jquery/jquery-ui.min.js')
		//- Bootstrap scripts
		script(src='/node/bootstrap/dist/js/bootstrap.min.js')
		//- Angular controller
		script(src='/js/controller.js')
		//- Parsley
		script(type='text/javascript', src='/themes/yummy/js/vendors/parsley/parsley-config.js')
		script(type='text/javascript', src='/themes/yummy/js/vendors/parsley/parsley.min.js')
		//- jQuery UI Touch
		script(src='/js/jquery-ui-touch.js')