doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Error
		link(rel='stylesheet', href='/node/bootstrap/dist/css/bootstrap.min.css')
		link(href='/themes/yummy/css/overlay-effects/overlay-effects.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/dripicons.min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/animate/animate.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/hover/hover-min.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/minicolors/jquery.minicolors.css', rel='stylesheet', type='text/css')
		link(href='/themes/yummy/css/stepper/jquery.stepper.min.css', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/themes/yummy/css/styles.css')
		link(rel='stylesheet', href='/css/annotator.min.css')
		link(rel='stylesheet', href='/css/fonts.css')
		link(rel='stylesheet', href='/css/standalonepage.css')
		link(rel='stylesheet', href='/css/sidebar.css')
	body
		.standalone-page-wrapper.image-background-3
			.container
				.col-md-3
				.col-md-6
					.content-wrapper
						img.bomb(src='/img/bomb.png')
						.panel.panel-default.panel-filled
							.panel-heading
								.panel-title
									| Uh-oh! :(
							.panel-body
								h2 #{title}
								if (events && events.length > 0)
									p
										| #{message}
						.copyrights
							| Aloft Realtime Text System
							br
							| Created by Stanley Sakai
				.col-md-3
		//- Angular User Settings
		//- Bootstrap scripts
		script(src='/node/bootstrap/dist/js/bootstrap.min.js')
		//- Angular controller
		//- jQuery UI Touch
		script(src='/js/jquery-ui-touch.js')