html, body {
	height: 100%;
}

/*Media queries*/

@media screen and (max-width: 1200px) {
    .mini-control {
        display: inherit;
    }
    .normal-control {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .mini-control {
        display: none;
    }
    .normal-control {
        display: inherit;
    }
}

/*Styles related to transcription editor*/

.active-event {
	margin-bottom: 0px;
}
.attachment {
    margin-top: 10px;
}
.btn-big-icon i {
    margin-bottom: 1.5rem;
}
.cell {
	display: table-cell;
}
.btn .caret {
	margin-left: 7px;
}
.butt-group {
	border-left: 1px solid #caced6;
	display: inline-block;
}
.butt-group > .btn {
	border-radius: 0px;
}
.butt-group > .btn-group > .btn {
	border-radius: 0px;
}
.compress-button {
	padding: 0px !important;
	z-index: 999;
	visibility: hidden;
}
.editor-menu {
    padding: 25px;
}
.highlightTextarea-container {
	width: inherit !important;
	height: inherit !important;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-hidden::-webkit-scrollbar {
    width: 0 !important
}
.overflow-scroll {
    overflow: scroll;
}
.panel-body {
    padding: 0px;
}
.editor-buttons {
	margin: 1em 0 1em;
}
.editor-toolbar > .btn-group > .btn-default {
    color: #9099aa;
    background-color: #F2F3F3;
    border-color: #F2F3F3;
}
.editor-header {
	padding: 1em 2em 2em;
	color: #000;
	text-align: center;
	letter-spacing: 1px;
	background: #fff;
	position: inherit;
}
.editor-header h3 {
	color: #515967;
	letter-spacing: 1px;
}
.editor-toolbar {
	width: 100%;
	top: 0px;
	position: inherit;
	border-bottom: 1px solid;
	background-color: #fff;
	display: table-row;
	background-color: #f2f3f5;
}
.editor-wrapper {
	flex-grow: 1;
	display: table-row;
	height: 100%;
}
.editor-wrapper textarea {
	height: 100%
	width: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
#eventURL {
	cursor: default;
}
.float-right {
	float: right;
}
.panel-fullscreen {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0px;
}
.panel-fullscreen textarea {
    height: calc(100vh - 47px);
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    resize: vertical;
}
.panel .panel-title, .panel .panel-title h3 {
    font-size: 1em;
}
.textedit {
	background-color: #9099aa;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
.textedit > .btn {
	border-radius: 0px;
}
.textedit > .btn-group > .btn {
	border-radius: 0px;
}
.textedit-footer {
    background-color: #caced6;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.textedit-footer > .btn {
    border-radius: 0px;
}
.textedit-footer > .btn-group > .btn {
    border-radius: 0px;
}
.toggle-buttons button {
    margin: 5px;
}
.fa {
	font-size: 18px;
}
.save-group {
    width: unset;
}
.scrollToTop {
	top: 3em;
	right: 4em;
	bottom: unset;
}
.subject-line {
	margin-bottom: 1em;
}
.user-info {
	display: block;
	padding-left: 0px;
	margin-top: 5px;
	font-size: 50%;
	margin-bottom: 2em;
}
#pad {
	font-size: 20px;
	font-family: 'Sintony', sans-serif;
	letter-spacing: 1px;
	line-height: 170%;
	background-color: #dee1e6;
	/*border: 1px solid #adb5bd;*/
	border: none;
	width: 100%;
	height: 100%;
	padding: 20px 80px 40px 80px;
    resize: vertical;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
ol, ul {
	margin-bottom: 0px !important;
}
.tab-content > .active, .pill-content > .active {
	width: 100%;
}

/*==========*/

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: #F2F3F3; /* Black w/opacity */
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    color: #515967;
    top: 0; 
    width: 100%; /* 100% width */
    height: 100%;
    margin-top: 0px;/* 30px top margin to avoid conflict with the close button on smaller screens */
    text-align: center;
    display: table;
}
.overlay-content > a.button:hover {
    background-color:#e6e6e6;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 13px;
    text-decoration: none;
    color: #818181;
	display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #226dad;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.ui-slider a {
	padding: unset;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}