body, html {
	background-color: #30353e;
	height: 100%;
	background-color: #f2f3f5;
	/*background-image: url("/img/fract.jpg");*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	/*background: repeating-linear-gradient(-45deg, #caced6, #caced6 1px, rgba(255, 255, 255, 0.6) 2px, rgba(255, 255, 255, 0.6) 3px);*/
}
.breadcrumbs {
	text-align: center;
	margin-bottom: 2em;
}
.panel-footer {
	padding-top: 0px !important;
}
.panel-heading small:before {
	content: unset;
}
.panel .panel-heading .panel-title {
	margin-bottom: 12px;
}
.prev-panel {
	min-height: 210px;
	border-radius: 6px;
}
.signup {
	margin-top: 2em;
}
.snippet {
	font-size: 85%;
	font-style: italic;
	color: #848c9e;
}
.snippet:before {
	content: '"';
}
.snippet:after {
	content: '"';
}
.truncate {
	width: 300x;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}