body {
  font-family: 'Sintony';
  height: 100%;
  -moz-user-select: auto !important;
  cursor: auto !important;
  /*background-image: url("/themes/yummy/images/backgrounds/10.png");*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  top: 0;
  transition: top 0.2s ease-in-out;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.arrow {
  position: fixed;
  bottom: 3em;
  left: 93%;
  margin-left: -20px;
  width: 50px;
  height: 50px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
}
.bounce {
  -webkit-animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%       { bottom: 5px; }
  25%, 75% { bottom: 15px; }
  50%      { bottom: 20px; }
  100%     { bottom: 0; }
}
.banner {
  color: #63B3F7 !important;
}
.block-unit {
  padding: 0px 30px 0px 30px;
}
.caret {
  margin-left: 5px;
}
.bg {
  width: 100%;
  background: #000;
  opacity: 0.6;
  z-index: 3;
}
.callout-feed:before {
  content: "\5d";
  position: absolute;
  left: 25px;
  top: 13px;
  display: block;
  border-radius: 50%;
  text-align: center;
  font-size: 3em;
  color: #9099aa;
  font-family: "dripicons-v2";
}
.callout-user:before {
  content: "\e056";
  position: absolute;
  left: 25px;
  top: 13px;
  display: block;
  border-radius: 50%;
  text-align: center;
  font-size: 3em;
  color: #9099aa;
  font-family: "dripicons-v2";
}
.content-nav-open {
  padding-left: 10em;
  /*margin-right: 10em;*/
}
.content-nav-closed {
  padding-left: inherit;
}
.dropdown-menu {
  padding: 20px;
}
.fa-nav {
  font-size: 20px;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.menuu {
  position: fixed;
}
.navbar-fixed {
  position: absolute;
}
.navbar-brand {
  font-size: 1.2em;
}
.navbar-form {
  margin-bottom: 0px;
}
.navbar-text {
  margin-top: 11px;
}
.nav-down {
  left: 0px;
}
.nav-up {
  left: -100px;
}
.navbar-twitch-toggle {
  visibility: hidden;
}
.nav-label {
  font-size: 20px !important;
}
.invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .4s, opacity .4s linear;
}
.indented {
  text-indent: 10em;
}
.label {
  font-weight: 600;
}
.slider-value {
  margin-left: 5px;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity .4s linear;
}
.scrollToTop {
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(144, 153, 170, 0.7);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s;
}
.scrollToTop:hover,
.scrollToTop:active,
.scrollToTop:visited {
  background: #9099aa;
  text-decoration: none;
  color: #fff;
}
.scroll-arrow {
  font-size: 25px;
}
.status-bar {
  width: 100%;
  top: 0px;
  position: fixed;
}
.status-bar.connected {
  border-top: 5px solid #9ab946;
  transition: 1s;
  left: 0;
}
.status-bar.disconnected {
  border-top: 5px solid #e74958;
  transition: 1s;
  left: 0;
}
.ui-slider {
  margin: 20px 6px 20px;
}
#caption-area {
  padding-top: 1rem;
  padding-bottom: 3rem;
  font-family: 'Sintony', sans-serif;
  font-size: 40px;
  z-index: 2;
  color: #fff;
}
#fontcolor {
  width: 9em;
}
#header {
  transition: left 0.2s ease-in-out;
  height: 100%;
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
         
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}